<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= cli.user.username %> - Home</title>
        <link rel="stylesheet" type="text/css" href="/bulma/css/bulma.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="<%= cli.user.avatarURL() %>" />
        <%- include('partials/head') %>
    </head>
    <style>
        html {
            background-color: #1E1E1E !important;
            font-family: 'Nunito', sans-serif;
        }

        h1 {
            color: white !important;
        }

        h2 {
            color: white !important;
            text-align: center;
            word-wrap: break-spaces;
            font-size: 13px !important;
        }
    </style>
    <body>
        <h1 class="title is-1" style="text-align: center; margin: 40px;"><%= cli.user.username %> - Home</h1>
        <%
            description = application.description
            if(description.length === 0) description = 'No description set.';
        %>
        <h2 class="subtitle"><%= description %></h2>
        <center><button class="button is-dark" style="margin: 230px; left: -80px;" onclick="document.location = 'https://discordapp.com/api/oauth2/authorize?client_id=<%= cli.user.id %>&permissions=8&scope=bot'">Invite to your server</button></center>
        <% if(auth) { %>
            <center><button class="button is-dark" style="margin: -270px; left: 80px;" onclick="document.location = '/dashboard'">Dashboard</button></center>
        <% } else if(!auth) { %>
            <center><button class="button is-dark" style="margin: -270px; left: 80px;" onclick="document.location = '/auth/login'">Dashboard</button></center>
        <% } %>
    </body>
    <footer><%- include('partials/footer') %></footer>
</html>